<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Donggi Kim <hi.donggi@gmail.com>">

    <title>Reminder</title>

    <link id="app-css" rel="stylesheet" href="/css/app.css">
    <link id="w3-css" rel="stylesheet" href="/css/w3.css">
    <script id="sf-js" src="https://github.com/Dong-gi/SF/releases/download/0.3.2/sf.min.js"></script>
    <script id="app-js" src="/js/app.min.js"></script>
    <script id="app-js" src="/js/app.js"></script>
</head>

<body sf>
    <header class="w3-bar w3-blue w3-large"
        style="position:-webkit-sticky;position:sticky;top:0px;vertical-align:middle">
        <button class="w3-bar-item w3-button w3-hover-theme" onclick="toggleSidebar()">&#9776;</button>
        <input id="query" class="w3-bar-item" type="text" placeholder="search">
    </header>
    <nav class="w3-sidebar w3-bar-block w3-twothird w3-card w3-hide">
        <div class="w3-container w3-theme-d2">
            <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">&times;</span>
        </div>
        <a class="w3-bar-item w3-button" href="#">Menu</a>
        <a class="w3-bar-item w3-button" href="#">Menu</a>
        <a class="w3-bar-item w3-button" href="#">Menu</a>
    </nav>
    <section class="w3-padding w3-center">
        <div id="views">
            <form id="login" class="w3-container">
                <fieldset>
                    <label for="login-nickname"><b>닉네임</b></label>
                    <input id="login-nickname" name="nickname" class="w3-input w3-border w3-margin-bottom" type="text">

                    <label for="login-password"><b>비밀번호</b></label>
                    <input id="login-password" name="password" class="w3-input w3-border w3-margin-bottom" type="password">

                    <input id="login-alwaysLogin" name="alwaysLogin" class="w3-margin-bottom" type="checkbox" checked>
                    <label for="login-alwaysLogin">자동 로그인</label>

                    <div>
                        <button id="userRegisterBtn" class="w3-btn w3-blue w3-third" style="float:none">사용자 등록</button>
                        <button id="userLoginBtn" class="w3-btn w3-blue w3-third" style="float:none">로그인</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        &copy; 2020. <a href="mailto:hi.donggi@gmail.com">Donggi Kim</a> all rights reserved.
    </section>
</body>

</html>